
div{
margin-top: 100px;

}

span{
  border: 2px solid black;
  margin: -1px;
  padding: 20px;
  font-size: 80px;
}
a{
  color: white;
  text-decoration: none;
}
.tic{
  margin-top: 39px;
}

.board{
  margin:250px 0px 0px 500px;
}
